@media all and (max-width:1050px) and (min-width:480px){
    .section-heading{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 0;
    }
    .heading{
      border-bottom: 0.3vw solid #fef27a;
    }
  }
  @media all and (max-width:480px) {
    .profile-pic{
        display: none;
    }
    .head-name{
        width: 78%;
    }
    .yellow-profile-pic{
        display: block;
        width: %;
    }
    .logo-name {
        font-size: 20px;
        color: aliceblue;
    }
    .menu{
        width: 15px;
        background-color: #1d1e20;
        height: 2px;
        border-bottom: 2px solid #fef27a;
    }
    .menu-bar,.menu-btn{
        margin-right: 20px;
        /* align-items: flex-end; */
        display: block;
        border: 0;
    }
    .menu-bar{
        margin-top: 10px;
    }
    .logo{
        width: 100%;
        display: flex;
    }
    nav{
        display: block;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: 0;
        margin-right: 0;
        right: 0;
        padding-top: 50px;
        height: 100vh;
        width: 250px;
        background-color: #35353d;
    }
    .nav-list li{
        padding: 10px 0;
        width: 55%;
        margin-left: 45%;
    }
    .nav-list .nav-close-li{
      width: 100%;
      display: none;
      margin-left: 0;
    }
    .nav-close-btn {
      background-color:#35353d;
      border: 0;
      width: 40px;
      color: #fef27a;
      height: auto;
    }
    .nav-list a{
        padding: 10px 0;
        width: 100%;
    }
    .active{
        display: flex;
    }
    .card-left-top{
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        min-width: 10px;
        width: 90vw;
        min-height: 180px;
    }
    .card-left-bottom{
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .name{
        font-size: 20px;
        padding: 4.5vw 0 1.5vw;
    }
    .designation{
        padding: 1.5vw 2px 4.5vw;
        font-size: 3vw;
    }
    .card-btn{
        margin-bottom: 7.5px;
        padding: 6px 3px;
        width: 30vw;
        border-radius: 1vw;
        font-size: 20px;
        font-weight: bold;
    }
    .see-my-works{
        border: 0.1vw solid #fef27a;
        background-color: #35353d;
        margin-right: 1vw;
    }
    .hire-me{
      margin-left: 0;
      border: 0.1vw solid #fef27a;
    }
    .service-content,.project-content{
        display: flex;
        flex-wrap: wrap;
        align-items:center;
    }
    .about{
        padding: 0 5% 10% 0;
        font-size: 15px;
    }
    .education{
        font-size: 20px;
        font-weight: 500;
      }
      .edu1{
        padding-top: 18px;
        padding-bottom: 8px;
        font-size: 12px;
        font-weight: 500;
      }
      .edu2{
        padding-bottom: 8px;
        font-size: 10px;
        font-weight: 500;
      }
      .edu{
        padding-bottom: 22px;
        font-size: 8px;
      }
      .my-skills{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
      }
      .skill{
        display: flex;
        justify-content: space-between;
        width: auto;
        font-size: 10px;
        margin-top: 2vw;
        height: auto;
        background-color:#1d1e20;
        color:#fef27a ;
        border: 0.1vw solid #fef27a;
        border-radius: 0.5vw;
        padding: 1vw 1.5vw;
        font-weight: bold;
      }
      .skill i{
        padding-right: 0.5vw;
      }
    .section{
        padding-top: 4vw;
        min-width: 10px;
        border-radius: 2.5vw;
        width: 80vw;
        height:auto;
    }
    .section-heading{
      border-bottom: 0.3vw solid #fef27a;
      margin-bottom: 5%;
      width: 140px;
    }
    .profile-heading{
      border-bottom: 0;
    }
    .heading{
      font-size:20px;
      font-weight: bold;
      color: #d9d9d9;
      padding: 1.5vw 0;
    }
  }