* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #242529;
}
nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #1d1e20;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.nav-list{
  margin-right: 6vw;
  display: flex;
}
.nav-list a{
    text-decoration: none;
    color: #d9d9d9;
}
.nav-list li{
    list-style: none;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    display: flex;
    padding: 0 1.5vw;
    align-items: center;
}
.contact-me {
    width: max-content;
    background-color: #fef27a;
    border-radius: 0.5vw;
    padding: 0.5vw 2vw;
    color: #1d1e20 !important;
    font-size: 1.5vw;
    font-weight: 900;
    padding-left: 2vw;
    /* padding-right: 0; */
    /* right: 0;
    position: sticky; */
}
.logo {
  margin: 2vw 4% 1vw 8%;
}
.logo-name {
  font-size: 3vw;
  color: aliceblue;
}
.content{
  position: absolute;
  top: 6vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5vw;
}
.card{
  background-color: #35353d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2.5vw;
  width: 80vw;
  height:35vw;
  margin-bottom: 3vw;
}
.card-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
}
.card-right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic{
  width: 75%;
  height: auto;
}
.yellow-profile-pic{
  border: 0.4vw solid #fef27a;
  border-radius: 100vw ;
  width: 75%;
  height: auto;
}
.card-left-top{
  height: 40%;
  display: flex;
  flex-direction: column;
}
.card-left-bottom{
  padding: 3vw;
}
.header-card{
  color: #d9d9d9;
  font-size: 4vw;
  font-weight: bolder;
}
.name{
  padding: 3vw 0 1vw;
}
.designation{
  padding: 1vw 0 3vw;
  font-size: 2vw;
}
.card-btn{
  padding: 1vw 0.5vw;
  width: 12vw;
  border-radius: 1vw;
  font-size: 1.5vw;
  font-weight: bold;
}
.see-my-works{
  border: 0.1vw solid #fef27a;
  color: #fef27a;
  background-color: #35353d;
  margin-right: 1vw;
}
.hire-me{
  margin-left: 1vw;
  background-color: #fef27a;
  border: 0.1vw solid #fef27a;
  color:#35353d;
}
.section{
  padding-top: 4vw;
  border-radius: 2.5vw;
  width: 80vw;
  height:auto;
}
.section-heading{
  border-bottom: 0.3vw solid #fef27a;
  margin-bottom: 5%;
  width: 20vw;
}
.heading{
  font-size: 3vw;
  font-weight: bold;
  color: #d9d9d9;
  padding: 1.5vw 0;
}
p,h1,h2,h3{
  color: #d9d9d9;
}
.about{
  padding: 0 5% 3% 0;
  font-size: 2vw;
}
.education{
  font-size: 2.6vw;
  font-weight: 500;
}
.edu1{
  padding-top: 2vw;
  padding-bottom: 1vw;
  font-size: 2vw;
  font-weight: 500;
}
.edu2{
  padding-bottom: 1vw;
  font-size: 1.75vw;
  font-weight: 500;
}
.edu{
  padding-bottom: 2.5vw;
  font-size: 1.5vw;
}
.my-skills{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 48vw;
}
.skill{
  display: flex;
  justify-content: space-between;
  width: auto;
  font-size: 1.2vw;
  margin-top: 2vw;
  height: auto;
  background-color:#1d1e20;
  color:#fef27a ;
  border: 0.1vw solid #fef27a;
  border-radius: 0.5vw;
  padding: 1vw 1.5vw;
  font-weight: bold;
}
.skill i{
  padding-right: 0.5vw;
}
.service-content,.project-content{
  display: flex;
  justify-content: space-around;

}
.service-div{
  border-radius: 2.5vw;
  border:0.3vw solid #fef27a;
  width: 23vw;
  height: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topic{
  font-size: 1.7vw;
  font-weight: bold;
  color: #d9d9d9;
  padding: 1.5vw 0;
  border-bottom: 0.2vw solid #fef27a;
  margin-bottom: 2vw;
  color: #fef27a;
}
.points-div li{
  color: #d9d9d9;
  padding: 0.3vw 0;
  font-size: 1.4vw;
}
.section-contact-me{
  color: #d9d9d9;
  margin-top: 1vw;
  padding: 1.5vw 0;
  padding-top: 6vw;
  border-radius: 2.5vw;
  width: 80vw;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-me-heading-div{
  font-size: 3vw;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5vw;
}
.contact-me-form{
  background-color: #35353d;
  border-radius: 2.5vw;
  width: 80vw;
  height:100%;
  padding-bottom: 2vw;
  border: #35353d;
  margin-bottom: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-me-description{
  height: 5vw;
}
.contact-me-form-div div{
  padding-bottom: 1%;
}
.contact-me-form label{
  font-size: 2vw;
}
.contact-me-form input{
  width: 40vw;
  border: 0;
  padding: 0.7vw;
  background-color: #d9d9d9;
  margin-top: 0.4vw;
  color: #1d1e20;
  font-size: 1.2vw;
  font-weight: 1.5vw;
  margin-bottom: 1vw;
  border-radius: 0.5vw;
}
.submit-contact-me{
  padding: 0.5vw 2vw;
  background-color: #fef27a;
  font-size: 2vw;
  font-weight: 700;
  color: #242529;
  border-radius: 2vw; 
}